@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Italianno&family=Kenia&family=Libre+Baskerville&family=Oswald:wght@600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

/*|| reset*/
* , *::before ,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
input , button , textarea{
    font: inherit;
}
/*|| variables*/
:root{
    --fs:clamp(1rem,3vh,1.6rem);
    /*color*/
    --bg-fade:rgb(252 , 220 ,160);
    --bg-img:linear-gradient(to bottom , var(--bg-or) ,var(--bg-fade));
    --bg-or:orange;
    --body-bg-cc:#fff;
    --border-c:#333;
    --font-c:#000;
    --header-bg-c:#000;
    --header-c:#fff;
    --hero-bg-c:rgba(51,178,51,0.75);
    --hero-c:#fff;
    --highlight-c:rgb(194, 194, 0);
    --link-active:orange;
    --link-c:#000;
    --link-hover:hsla(0, 0%, 0%, 0.715);
    --menu-bg-c:#333;
    --nav-bg-c:#fff;
    /*padding */
    --padding-tb: 0.25em;
    --padding-sid: 2.5%;
    /*margin*/
    --margin:clamp(1em , 2.5vh , 1.5em) 0;
    /*border*/
    --border1:1px solid var(--border-c);
    --border2: 2px solid var(--border-c);

}
@media (prefers-color-scheme: dark){
    :root{    
        --bg-fade:rgb(107, 107, 107);
        --bg-img:linear-gradient(to bottom , var(--bg-or) ,var(--bg-fade));
        --bg-or:rgb(0, 0, 0);
        --body-bg-cc:#333;
        --border-c:#ffffffb5;
        --font-c:whitesmoke;
        --header-bg-c:#000;
        --header-c:whitesmoke;
        --hero-bg-c:rgba(51,178,51,0.75);
        --hero-c:#333;
        --highlight-c:rgb(255, 255, 255);
        --link-active:rgb(255, 189, 66);
        --link-c:#ffffff;
        --link-hover:hsla(0, 0%, 100%, 0.715);
        --menu-bg-c:#333;
        --nav-bg-c:#333;
    }
}
/*classes*/

.offscreen{
    position: absolute;
    left: -100000px;
}
.nowrap{
    white-space: nowrap;
}
.center{
    text-align: center;
}
/*general styles*/
html{
    scroll-behavior: smooth;
    font-size: var(--fs);
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Italianno', cursive;
    font-family: 'Kenia', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
    background-color: var(--bg-or);
    background-image: var(--bg-img);
}
body{
    box-shadow: 0 0 10px var(--border-c);
    border-left:var(--border2) ;
    border-right: var(--border2);
    margin: 0 auto;
    background-color: var(--body-bg-cc);
    color: var(--font-c);
    min-height: 100vh;
    max-width: 800px;
}
h1 ,h2 ,h3{
    font-family: 'Chango', sans-serif;
}
h3 ,h2 {
    margin-bottom: 1em;
    color: var(--highlight-c);
}
p{
    line-height: 1.5;
}
a:any-link{
    color:var(--link-c);
}
a:hover, a:focus-visible{
    color: var(--link-hover);
}
a:active{
    color: var(--link-active);
}

p{
    color: var(--font-c);
}
/*header*/
.header{
    position: sticky;
    top: 0;
    z-index: 1;

}
.header__h1{
    
    text-align: center;
    background-color: var(--header-bg-c);
    color: var(--header-c);
    padding: var(--padding-tb) var(--padding-sid);
}

.header__nav{
    background-color: var(--nav-bg-c);
    border-bottom: var(--border2);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--border-c);
}
.header__ul{
    padding: var(--padding-tb) var(--padding-sid) ;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.header__li{
    list-style-position: inside;
}
/*here*/
.hero{
    position: relative;

}
@keyframes heros {
    0% { top: -20px; transform: skew(0deg,-5deg) scale(100%) rotate(1deg);}
    10%{ top: -10px; transform: skew(0deg,-5deg)scale(102%)rotate(2deg);}
    20%{ top: -0px; transform: skew(0deg,-5deg)scale(104%)rotate(3deg);}
    30%{ top: 10px; transform: skew(0deg,-5deg) scale(106%)rotate(4deg);}
    40%{ top: 15px; transform: skew(0deg,-5deg) scale(108%)rotate(5deg);}
    50%{ top: 20px; transform: skew(0deg,-5deg) scale(110%)rotate(6deg);}
    60%{ top: 15px; transform: skew(0deg,-5deg) scale(108%)rotate(5deg);}
    70%{ top: 10px; transform: skew(0deg,-5deg) scale(106%)rotate(4deg);}
    80%{ top: 15px; transform: skew(0deg,-5deg) scale(104%)rotate(3deg);}
    90%{ top: 20px; transform: skew(0deg,-5deg) scale(102%)rotate(2deg);}
    100%{ top: 30px; transform: skew(0deg,-5deg) scale(100%)rotate(1deg);}
}
.hero__h2{
    font-size: 1.1rem;
    padding: var(--padding-tb) var(--padding-sid);
    border-radius: 15px;
    position: absolute;
    top :-100px;
    left: 15px;
    animation: heros 1s ease-in-out 1s  forwards;
    background-color: var(--hero-bg-c);
    color: var(--hero-c);
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 5px var(--border-c);

}
/*footer*/
.footer{
    font-size: 0.75rem;
    position: sticky;
    bottom: 0;
    background-color: var(--header-bg-c);
    color: var(--header-c);
    text-align: center;
    padding:  var(--padding-tb)  var(--padding-sid);
}

/*main*/

.main{
    padding:  var(--padding-tb)  var(--padding-sid);
}
.main__article{
    scroll-margin: 6.5rem;
    margin: var(--margin);
}
.main__article:first-child{
    margin-top: 1em;

}
.main__article:last-child{
    min-height: calc(100vh - 20rem);

}


/*about*/
.about__trivia{
    margin: var(--margin) ;
}
.about__trivia-answer{
    margin-top: 1em;
    
}
/*contact*/
.contact__h2{
    margin: 0
}

.contact__fieldse{
    border: none
}
.contact__p{
    margin: 1em 0;
}
.contact__lable{
    display: block;
    font-weight: bold;

}
.contact__input , .contact__textarea{
    padding: 0.5em;
    border-radius: 15px;
    border-width: 2px;
    width: 100%;
}
.contact__button{
    padding:0.5em;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.316);
    color: var(--font-c);
}
/*menu*/
thead , tbody , tfoot , tr{
    display: contents;
    
}
.menu__container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-areas: 
        "hd1 hd2 hd3"
        "cr cr1 cr1p"
        "cr cr1 cr2p"
        "cr cr2 cr3p"
        "sf sf1 sf1p"
        "sf sf2 sf1p"
        "sf sf3 sf3p"
        "cs cs cs";
    gap:0.1em ;
    margin-bottom: 1em;

}
.menu__cr{
    grid-area: cr;
}
.menu__soft{
    grid-area: sf;
}
.menu__cs{
    grid-area: cs;
    text-align: center;
}
.menu__item , .menu__header{
    width: 100%;
    padding: 1em;
    border:medium ridge var(--header-bg-c)
}
.menu__item{
    
    display: grid;
    place-content: center;
}
.menu__cs{
    border-radius: 0 0 15px 15px;
}

thead th:first-child{
    border-top-left-radius: 15px;
}
thead th:last-child{
    border-top-right-radius: 15px;
}
.menu__soft,.menu__cr,.menu__cs ,.menu__header{
    
    color: var(--highlight-c);
    font-weight: bold;
    height: 100%;
    place-content: center;
}
.menu__header{
    color: var(--font-c);
}
.menu__header th{
    color:var(--highlight-c)
}


@media screen  and (min-width:576px){
    .header__h1::before{
        content: "🌮 ";
    }
    .header__h1::after{
        content: " 🌮";
    }
    .menu__header,
    .menu__cr,
    .menu__cs,
    .menu__sf{
        font-size: 125%;
    }
}




